<div class="content">



        <div class="container no-bottom">

            <div id="slider" class="swipe">

                <div class="swipe-wrap">

                    <div  class="wrap">

                      <img class="swipe-image responsive-image" src="asset/images/1.jpg" alt="img">

                      <p class="swipe-text">使用简单</p>

                    </div>

                    <div class="wrap">

                      <img class="swipe-image responsive-image" src="asset/images/2.jpg" alt="img">

                      <p class="swipe-text">瞬间建站</p>

                    </div>

                    <div class="wrap">

                      <img class="swipe-image responsive-image" src="asset/images/3.jpg" alt="img">

                      <p class="swipe-text">安全稳定</p>

                    </div>

                    <div class="wrap">

                      <img class="swipe-image responsive-image" src="asset/images/4.jpg" alt="img">

                      <p class="swipe-text">投入极低</p>

                    </div>

          

                </div> 

                <ul id="position">

                    <li id="one"    class="on"></li>

                    <li id="two"    class=""></li>

                    <li id="three"    class=" "></li>

                    <li id="four"   class=" "></li>

                </ul>   

                

                <a href="#" class="prev-but-swipe">上页</a>

                <a href="#" class="next-but-swipe">下页</a>      

            </div>  

        </div>



        <div class="decoration"></div>

            

        <div class="container no-bottom">

           <h5 class="uppercase">欢迎使用</h5>

           <p>科蚁团队致力于将科蚁网建立成为国内最专业的HTML5手机建站交流、学习、分享社区，打造HTML5建站生态圈，与HTML5建站爱好者共同成长进步。</p> 

        </div>

        

        <div class="decoration"></div>

        

        <div class="container">

            <img class="column-icon" src="asset/images/icon1@2x.png" width="85" alt="img">

            <h6 class="uppercase">客户为先</h6>

            <p class="no-bottom">尊重所有客户，随时随地维护富图视觉形象； 微笑面对投诉，积极主动的为客户解决问题； </p> 

        </div> 

        

        <div class="container">

            <img class="column-icon" src="asset/images/icon2@2x.png" width="85" alt="img">

            <h6 class="uppercase">正直诚信</h6>

            <p class="no-bottom">敢于承担责任，勇于承认错误；客观反映问题，以作好工作、服务好客户和维护公司利益为己任； </p> 

        </div> 

        

        <div class="container">

            <img class="column-icon" src="asset/images/icon4@2x.png" width="85" alt="img">

            <h6 class="uppercase">充满激情!</h6>

            <p class="no-bottom">认同富图视觉企业文化，具备强烈的主人翁意识，热爱自己的岗位； </p> 

        </div>

           

        <div class="decoration"></div>      

        <p class="center-text uppercase footer-text"> Powered by <a href="http://www.ke01.com" target="_blank">科蚁网</a> Copyright © 2014 - 2015

        </p>

            

    </div>