<div class="sidebar-left">

  <div class="sidebar-scroll-left">

      <div class="sidebar-header-left">

      <img src="asset/images/logo-sidebar.png" class="sidebar-left-logo replace-2x" width="125" alt="img">

          <a href="#" class="close-sidebar-left"></a>

      </div>

    

        <p class="sidebar-divider-text">导航菜单</p>

        <a href="index.html" class="nav-item home-nav">网站首页<em class="icon-active"></em></a>

        <a href="#" id="submenu-one" class="nav-item info-nav">关于我们<em class="icon-drop"></em></a>

            <div class="submenu submenu-one">

              <a href="intro.html"><em></em>公司简介</a>

                <a href="type.html"><em></em>样式列表</a>

                <a href="jquery.html"><em></em>jQuery</a>

                <a href="other.html"><em></em>Others</a>

                <a href="touch.html"><em></em>Touch</a>

            </div>

        <a href="#" id="submenu-two" class="nav-item folio-nav">作品展示<em class="icon-drop"></em></a>

            <div class="submenu submenu-two">

              <a href="ffolio.html"><em></em>整列显示</a>

                <a href="onecol.html"><em></em>单列</a>

                <a href="twocol.html"><em></em>双列</a>

                <a href="swiper.html"><em></em>图片列表</a>

                <a href="filter.html"><em></em>图片展示</a>

            </div>

        <a href="video.html" class="nav-item video-nav">视频展示<em class="icon-page"></em></a>

        <a href="blog.html" class="nav-item blog-nav">新闻资讯<em class="icon-page"></em></a>

        <a href="contact.html" class="nav-item mail-nav">联系我们<em class="icon-page"></em></a>   

        

        <p class="sidebar-divider-text">最新公告</p>

        <div class="sidebar-decoration"></div>

        

        <div class="sidebar-notifications">

            <a href="#" class="info-sidebar">

                新闻标题Released

            </a>

        

            <div class="sidebar-decoration"></div>

            

            <a href="#" class="update-sidebar">

                新闻标题Released

            </a>

        

            <div class="sidebar-decoration"></div>

    

            <a href="#" class="folio-sidebar">

                新闻标题Released

            </a>        

        </div>

        

        <div class="sidebar-decoration"></div>

        <p class="copyright-sidebar">科蚁网收集整理</p>

        

        

        <div class="sidebar-bottom-controls">

            <a href="#">

                <em class="twitter-bottom"></em>

                <p>微博</p>

            </a>

            <a href="#">

                <em class="facebook-bottom"></em>

                <p>微信</p>

            </a>

            <a href="#">

                <em class="close-bottom-left"></em>

                <p>邮箱</p>

            </a>

            <div class="clear"></div>

        </div>

    </div>

</div>